<h1 align="center">Listing all Recipes</h1>
<hr>
<div class="row" align="center">
  <div class="card-deck">
    <% @recipes.each do |recipe| %>
    
      <div class="card bg-light border-dark text-center">
        <div class="card-body">
          <div class="col-md-2">
            <section class="center">
              
            </section>
          </div>
          <div class="col-md-8">
            <h4 class="card-title"><%= recipe.name %></h4>
            <p class="card-text">
              <%= truncate(recipe.description, length: 150) %>
            </p>
            <hr>
            <p>
              <span class="quiet"><small>Posted: <%= time_ago_in_words(recipe.created_at) %> ago</small></span>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>