
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


body{font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif}h1,h2,h3,h4,h5,h6{font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:700}header.masthead{position:relative;background-image: asset-url('mediterranean-cuisine.jpg') no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding-top:8rem;padding-bottom:8rem}header.masthead h1{font-size:2rem; text-shadow:2px 2px #000;}@media (min-width:768px){header.masthead{padding-top:12rem;padding-bottom:12rem}header.masthead h1{font-size:3rem}}.showcase .showcase-text{padding:3rem}.showcase .showcase-img{min-height:30rem;background-size:cover}@media (min-width:768px){.showcase .showcase-text{padding:7rem}}.features-icons{padding-top:7rem;padding-bottom:7rem}.features-icons .features-icons-item{max-width:20rem}.features-icons .features-icons-item .features-icons-icon{height:7rem}.features-icons .features-icons-item .features-icons-icon i{font-size:4.5rem}.features-icons .features-icons-item:hover .features-icons-icon i{font-size:5rem}.testimonials{padding-top:7rem;padding-bottom:7rem}.testimonials .testimonial-item{max-width:18rem}.testimonials .testimonial-item img{max-width:12rem;box-shadow:0 5px 5px 0 #adb5bd}.call-to-action{position:relative;background-color:#343a40;background:url(../img/bg-masthead.jpg) no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding-top:7rem;padding-bottom:7rem}footer.footer{padding-top:4rem;padding-bottom:4rem}

// Custom CSS



#logo {
  text-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.bg-blue {
  background-color: #1A63D8;
}

.btn-custom {
  color: #fff;
  background-color: #72de2b;
  
  &:hover {
    background-color: #5fff29;
  }
}

 .text-custom {
   color: #72de2b;
 }
 
.overlay {
  background: linear-gradient(0deg,rgba(255,255,255,0.35),rgba(255,255,255,0.2)), asset-url('mediterranean-cuisine.jpg');
  background-size: cover;
  height: 100%;
  width:100%;
  top:0;
  left:0;
  position:absolute;
}

.masthead .lead {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 1px 1px #000;
}

.form-control,
.btn {
  box-shadow: 1px 1px #000;
}

.call-to-action h2 {
  text-shadow: 1px 1px #000;
}

.card {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
}

.card-deck {
  margin: 20px auto 35px auto;
}