<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <%= link_to "About", pages_about_path %>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <%= link_to "Contact", pages_contact_path %>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <%= link_to "Terms of Use", pages_terms_path %>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <%= link_to "Privacy Policy", pages_privacy_path %>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; MyRecipes 2018. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>